.btn {
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  background: #18D5E1;
  border: none;
}

#btn_01 {
  background: #017187;
}

#btn_02 {
  background: #5C0187B5;
}

#btn_03 {
  background: #8711018E;
}

#btn_04 {
  background: #01870EA0;
}

#btn_05 {
  background: #E2CF22;
}

#btn_06 {
  background: #011E87;
}
