@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "cssReset.scss", "flexboxgrid.scss", "layout.scss", "buttons.scss";

body {
  max-width: 1200px;
  font-family: 'Roboto', sans-serif;
}

.input {
  background: #FFFFFF;
  border: 2px solid #E5E7EB;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px;
}

.input-text {
  margin-top: 20px;
  font-weight: 700;
}
